

/*for header*/
body{
  width: 100%;
  position: fixed;
  background-color: rgb(10, 26, 91);
  
}
#header1{
	 border:2px solid rgb(10, 26, 91);
background-color: rgb(10, 26, 91);
height: 50px;
position: sticky;
width: 102%;
 margin-left: -10px;
margin-top: -15px;
z-index: 1;

display: flex;
overflow: hidden;
top:0%;

}
/* for music player text */
#player{
	margin-top: 5px;
	margin-left: 1%;
	color: white;
}
/*for headphone logo*/
#headphone_image{
	color:white;
margin-left: 3%;}
#favourite{
	margin-left: 4%;
	margin-top: 12px;
	color:white;
}
/*for search border*/
#bordersearch{
	border:2px solid rgb(42, 58, 120);
	margin-left:40%;
	margin-top: 12px;
	color: white;
	position: fixed;
	right:14%;
	border-radius: 20%;
	background-color:rgb(42, 58, 120);
	display: flex; 
	opacity: 0.6;
}
#search_icon{
	margin-left: 5px;
}
#search{	margin:1px  5em 1px 8px;
	font-size: 12px;
	opacity:0.5;
}
/*for mic icon*/
#mic{
	margin-right: 5px;

}
#bell{
	position:fixed;
	right:8%;
	color: white;
	margin-top: 14px;
	margin-left: 10px; !important;
}
 #photo img{ border-radius: 50%; }
#photo{
	height: 15px;
	width: 15px;
	position:fixed;
	right:4%;
	margin-top: 7px;

}
/* for diving in 70% left*/
#sec1{
	width: 76%;
	display: inline-block;
	background-color: rgb(10, 26, 91);
	height: 93%;
	margin-top: 7px;
	margin-left: -10px;
  position: fixed;
  overflow: scroll;
    
}
/* for 30%.  */
#sec2{
	display: inline-block;
	width: 25%;
  height: 100%;
	vertical-align: top;
	background-color: rgb(10, 26, 91);
height:100%;
margin-left: -4px;
margin-top: 7px;
margin-right: -30px;
position: fixed;
overflow: scroll ;
right: 2%;

}
#main{
	margin-left: -7px;
	width: 110%;
}
/* for Carousel*/

.slider-holder
        {
            width: 70%;
            height: 400px;
            background-color: blue;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            text-align: center;
            overflow: hidden;
        }
        
        .image-holder
        {
            width: 2400px;
            background-color: rgb(10, 26, 91);
            height: 400px;
            clear: both;
            position: relative;
            
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s;
        }
        
        /* for Carousel image*/

        .slider-image
        {
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
        }
        
        #slider-image-1:target ~ .image-holder
        {
            left: 0px;
        }
        
        #slider-image-2:target ~ .image-holder
        {
            left: -105%;
        }
        
        #slider-image-3:target ~ .image-holder
        {
            left: -210%;
        }
        /* for Carousel button*/

        
        .button-holder
        {   
            position: relative;
            top: -20px;
        }
        
        .slider-change
        {
            display: inline-block;
            height: 15px;
            width: 15px;
            border-radius: 10px;
            background-color: white;
        }
        /* for Carousel button hover*/

        .slider-change:hover{
          background-color:red;
          height: 35px;
          width: 35px;
          border-radius: 0%;
          color: white;
        }
        #third{
        	margin-top:100px;
        	margin-left: 70px;
        	color: white;
        	font-size: 70px;
           
        }
        #rl{
        	color: white;
        	display: flex;
        	flex-wrap: wrap;

        }
        /* for trending portion*/

        #f{
        	height: 120px;
        	width: 30%;
        	margin:70px;
        	margin-top: 30px; 
        	margin-bottom: 0px;
        	background-color: rgb(10, 26, 91);
        }
        #s{
        	height: 120px;
        	width: 30%;
        	margin:70px;
        	margin-top: 30px; 
        	margin-bottom: 0px;
        	background-color: rgb(10, 26, 91);
        }
        /* for trending portion*/
        #t{
        	height: 120px;
        	width: 30%;
        	margin:70px;
        	margin-top: 30px; 

        	background-color: rgb(10, 26, 91);
        }
        #fo{
	        height: 120px;
	        width: 30%;
        	margin:70px;
        	margin-top: 30px; 
        	background-color: rgb(10, 26, 91);
           }
           /* for trending portion*/
           #ff{
           	margin:5px;
           	display: flex;
           	color: white; 
           }
           #fft{
           	margin-left: 10px;
           	margin-top: 20px;
           	color: white;
           	font-size: 25px;
           }
           #fft:hover{
            color: red;
            font-size: 35px;
           }
           #fftr{
           	opacity: .7;
           	font-size: 15px;
           }
           /* for trending portion*/
           #ffr{
           	color: white;
           	opacity: .8;
           	font-size: 15px;
           	margin-left: 25%;
           	margin-top: 30px;
           }

            #ss{
           	margin:5px;
           	display: flex;
           	color: white; 
           }
           /* for trending portion*/
           #sst{
           	margin-left: 10px;
           	margin-top: 20px;
           	color: white;
           	font-size: 25px;
           }
           #sst:hover{
            color: red;
            font-size: 35px;
           }
           #sstr{
           	opacity: .7;
           	font-size: 15px;
           }
           /* for trending portion*/
           #ssr{
           	color: white;
           	opacity: .8;
           	font-size: 15px;
           	margin-left: 25%;
           	margin-top: 30px;
           }




             #tt{
           	margin:5px;
           	display: flex;
           	color: white; 
           }
           /* for trending portion*/
           #ttt{
           	margin-left: 10px;
           	margin-top: 20px;
           	color: white;
           	font-size: 25px;
           }
           #ttt:hover{
            color: red;
            font-size: 35px;
           }
                      #tttr{
           	opacity: .7;
           	font-size: 15px;
           }
           #ttr{
           	color: white;
           	opacity: .8;
           	font-size: 15px;
           	margin-left: 25%;
           	margin-top: 30px;
           }

/* for trending portion*/
             #fofo{

           	margin:5px;
           	display: flex;
           	color: white; 
           }
           #fofot{
           	margin-left: 10px;
           	margin-top: 20px;
           	color: white;
           	font-size: 25px;
           }
           #fofot:hover{
            color: red;
            font-size: 35px;
           }
           #fofotr{
           	opacity: .7;
           	font-size: 15px;
           }
           #fofor{
           	color: white;
           	opacity: .8;
           	font-size: 15px;
           	margin-left: 25%;
           	margin-top: 30px;
           }
/* for popular artist portion*/
           #pop{
              color:white;
              font-size: 70px;
              margin-left: 60px;
           }
           #popflex{
           	display: flex;
           	
           	border: 0px solid blue;
           	margin-left: 65px;
           	margin-top: 20px;
           	margin-right: 10px;
           	justify-content: space-between;
            overflow-x: scroll;

           }
           #popflex div{
           	width: 155px;
           }
           #popflex aside{
           	color: white;
           	margin-left: 35px;
           }
           /* for popular artist portion*/
           #popflex img{
           	height: 150px;
           	width: 150px;
           	border-radius: 50%;
           	margin:5px;
           	 
           	margin-top: 5px;
           }
           #popflex img:hover{
            box-shadow: 5px 5px 0px #999;
            border-radius: 0%;
            
           }
    /* for edm portion*/       
          #coldflex{
          	display: flex;
          	justify-content: space-between;
          	flex-wrap: wrap;
          	border: 0px solid red;
          	margin-left: 60px;
          	margin-top: 50px;
          }
          #coldflex img{
          	margin: 10px;
          	height: 200px;
          	width: 300px;
          }
          #coldflex img:hover{
            margin: 10px;
            height: 300px;
            width: 370px;
          }
/* for famous english song*/
          #popflexe{
           	display: flex;
           	flex-wrap: wrap;
           	border: 0px solid blue;
           	margin-left: 65px;
           	margin-top: 20px;
           	margin-right: 10px;
           	justify-content: space-between;


           }
           #popflexe div{
           	width: 155px;
           }
           /* for famous english song*/
           #popflexe aside{
           	color: white;
           	margin-left: 35px;
           }
           #popflexe img{
           	height: 150px;
           	width: 150px;
           	           	margin:5px;
           	 
           	margin-top: 5px;
           }
      /* for famous english song*/
          #popflexe img:hover{
             -moz-box-shadow: 2px 2px 8px #999;
    -webkit-box-shadow: 2px 2px 8px #999;
        box-shadow: 2px 2px 8px #999;
          }
 
           #pope{
              color:white;
              font-size: 70px;
              margin-left: 60px;
              margin-top: 50px;
           }
/* for queue songs*/
           #queue{
           	color: white;
           	font-size: 40px;
           	margin-left:1%;


           }

           
           #sec2 div{
           	border: 2px solid rgb(10, 26, 91);
           	margin-left: 2%;
           
           	margin-top: 10px;
            height: 60px;
            overflow: scroll;

           }

/* for queue songs*/
           #ffa{
           	margin:5px;
           	display: flex;
           	color: white; 
           }
           #ffa img:hover{
            height: 50px;
            width: 15%;
            margin:0px !important;
           }
           #ffa i:hover{
            color:red;
            font-size: 30px;
           }
           #ffta{
           	margin-left: 10px;
           	margin-top: 2px;
           	color: white;
           	font-size: 110%;
           }
           /* for queue songs*/
           #fftra{
           	opacity: .7;
           	font-size: 12px;
           }
           #ffra{
           	color: white;
           	opacity: .8;
           	font-size: 15px;
           	position: absolute;
           	right:2%;
           	margin-top: 10px;
           }

           
     /* footer  */      
           footer{
           	position: fixed;
           	z-index: 1;
           	bottom:0px;
           width:100%;
      height: 80px;
      background-color: black;
   margin-left: -10px;
           }

 
    
#di{
  border:0px solid red;
  margin: 2px;
  width: 99%;
  color: white;
  display: flex;
  flex-wrap:nowrap;

 /* footer  */  
}
#name{
  color: white;
  font-size:20px;

  z-index: 3;
  margin-left: -415px;
  
  margin-top: 5px;
}
  
#extra{
  border:0px solid red;
  height: 80px;
}
#gos{
  opacity: .7;font-size: 15px;
/* footer  */ 
}
#di img{
  margin: 0px;
  margin-left: 7vw;
  width: 10%;

}
#dii{
  margin-top: 10px;
  margin-left: 1%;
}
#diii{
  margin-top: 10px;
  margin-left: 4px;
}
#diiii{

  margin-top: 10px;
  margin-left: 20%;

}
/* footer  */ 
#diiiii{
  margin-top: 10px;
  margin-left: 4%;
}
#diiiiii{
  position: absolute;
  right:5px;
  margin-top: 10px;
  
}
#white{
  margin-top: 10px;
  position: absolute;
  right:40px;
  color: white;
}
/* footer  */ 
#bord{
  margin-left: 20px;
  position: absolute;
  left:45%;
  border:0px solid red;
  display: flex;
  flex-wrap: nowrap;
  width: 30%
}
footer i:hover{
  color: red;
  font-size: 30px;
}



/* footer  */ 




/* dropdown */

#dd{
  margin-left: -10px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 2px 2px;
  z-index: 1;
  color: black;
}
/* dropdown */
.dropdown-content i{
  color: red;
  margin-right: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#hide{
  height: 0px;
  width: 0px;
}